* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inconsolata';
    font-size: 26px;
}

.small {
    font-size: 15px;
    line-height: 1;
}

.next {
    cursor: e-resize;
}

.content {
    margin: 0px auto;
    margin-top: 4px;
    padding: 4px;
    padding-left: 8px;
    height: 100%;
    width: 80%;
    float: left;
}

.description {
    padding: 0;
    height: 100%;
    width: 20%;
    float: right;
    text-align: right;
    line-height: .5;
    color: black;
    position: relative;
    text-transform: uppercase;
}

.description:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.text {
    padding-left: 30px;
    padding-right: 10px;
}



/*----------------------------------------------------*/

/* @media screen and (max-width: 650px) {

    .container1 {
        height: 100%;
        width: 25%;
        float: left;
        margin-left: 8px;
    }
    
    .container2 {
        height: 100%;
        float: right;
    }
    
}  */
